__pycache__/
*.py[cod]
*.pyo
*.pyd

.poetry/
poetry.lock

.venv/
venv/
ENV/
env/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.log

.env
.env.*

# DVC
.dvc/cache/
.dvc/tmp/
.dvc/state
.dvc/config.local

# Данные (сами файлы, но не .dvc файлы)
data/*.csv
data/*.json
data/*.pkl
data/*.parquet
data/mlflow/
!data/*.dvc
!data/.gitkeep

models/
